<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gin Rummy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<div>

    <h1>Gin Rummy</h1>
    <form method="post" action="{{ url_for('start_game') }}">
        <input type="submit" value="Play with a friend" name="pvp"/>
        <input type="submit" value="Play with computer" name="computer"/>
    </form>

</div>
</body>
</html>